.dropdown {
  margin: 50px;
}

img {
	max-width: 100%;
}

#about{
	float: left;
}

.information-display {
	margin-top: 25px;
}

.navbar {
	background-color: #d3d3d3 !important;
}

#picture{
	padding: 8px;
	border: 3px solid #000;
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
}
#information{
	padding: 8px;
	border: 3px solid #000;
	min-width: 250px;
	min-height: 250px;
	max-width: 250px;
	max-height: 250px;
}

th,td{
	padding: 0 8px;
}

#col-1, #col-2, #artArtists2, #about {
	display: none;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
